body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height:120px;
    width: 120px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 1.2rem;
}

.red{
    background-color:  #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63ac63;
}
.purple{
    background-color: #891ff9;
}

.btn-flash{
    background-color: white;
}
.userflash{
    background-color: rgb(5, 183, 5);
    box-shadow: 2px 2px 2px;
}